.navBar{
    background-color:rgb(68, 197, 68);
    height: 100px;
}

.page {
    margin-left: none;
    margin-right: none;
    padding-left: none;
    padding-right: none;
}

.navbaritem{
    text-decoration: none;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 35px;
}

#home {
    margin-left: none;
    padding-left: 50px;
    padding-bottom: none;
    padding-right: 25px;
}

/* rgb(81, 201, 81); */


.bugs {
   width: 250px;
   height: auto;
   border-color: rgb(202, 194, 194);
   margin: 10px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
}

.btn-primary {
    width: 100px;
    display: inline-block;
    background-color: rgb(68, 197, 68);
    border-color: white;
    margin-left: 1px;
}

.btn-primary:hover {
    background-color: white;
    color: rgb(68, 197, 68);
    border-color:  rgb(68, 197, 68);
}

